<div class="player-container">
  @if (currentSong() != null) {
    <h2 class="track-title text-xl font-bold">{{ currentSong()!.song.title }}</h2>

    <div class="controls flex gap-4 mt-4">
      <button type="button" aria-label="Previous track" (click)="prev()">⏮️</button>

      <button
        type="button"
        aria-label="Play / Pause"
        (click)="togglePlayPause()">
        {{ isPlaying() ? '⏸️' : '▶️' }}
      </button>

      <button type="button" aria-label="Next track" (click)="next()">⏭️</button>
    </div>

    <!-- Audio element -->
    <audio #audioPlayer (ended)="next()" controls></audio>

    <div class="queueList">
      <ul>
        <li class="queueListItem" *ngFor="let song of currentQueue()" (click)="playSong(song)">
          <p>
            {{ song.song.title }}
          </p>
        </li>
      </ul>
    </div>

  } @else {
    <p class="text-gray-500">
      Choisissez une chanson pour commencer à jouer 🎵
    </p>
  }
</div>
