.player-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; /* utile pour scroll interne */
  padding: 2rem;
  margin: auto;
  background-color: royalblue;
  border-radius: 1rem;
  color: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.player-container .queueList {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0;
}

.player-container .queueListItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .5rem;
  border-bottom: 1px solid white;
  cursor: pointer;
  color: white;
  align-items: center;
}

.player-container .cover {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.player-container .track-title {
  margin-top: 1rem;
}

.player-container .track-artist {
  font-size: .9rem;
  margin-bottom: 1rem;
}

.player-container .controls button {
  color: white;
  border: none;
  padding: .5rem 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: 0.2s;
}

.player-container .controls button:hover {
  background-color: white;
}
