.playlist-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 1rem auto;
    input { padding: 0.5rem; margin-right: 0.5rem; }
    button { padding: 0.5rem 1rem; }
    .song-list { 
        flex:1;
        overflow-y: auto;
        list-style: none; 
        padding: 0; 
        
        border-bottom: 1px solid #ccc; 
        border-top: 1px solid #ccc;
    }

    .song-list-item { 
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 0;
        border-bottom: 1px solid #ccc; 
    }
    
  }
  