<div class="playlist-info">
  @if (playlist){
    <h2>{{ playlist.title }}</h2>
    <p>Total Songs: {{ playlist.songs.length }}</p>
    <!-- Add new song -->
    <div class="add-song">
      <input type="text" placeholder="Song title" [(ngModel)]="newSongTitle">
      <button (click)="addSong()">Add Song</button>
    </div>
  
    <!-- Search songs -->
    <div class="search-song">
      <input type="text" placeholder="Search songs" [formControl]="searchControl">
    </div>
  
    <!-- List songs -->
    <ul>
      <li *ngFor="let song of playlist.songs">
        {{ song.song.title }} 
        <button (click)="removeSong(song.song.id!)">Remove</button>
      </li>
    </ul>
  } @else{
    <h2>Veuillez Selectionner une playlist</h2>
  }
    
    
</div>