

<div class="player-container">

    <section class="hero-section">
        <h1 class="hero-title"> Player </h1>
    </section>

    <section class="player-content">
        <div class="playlist-list-card">
            <app-playlist (currentPlaylistId)="onPlaylistChange($event)" >
            </app-playlist>
        </div>
        <div class="player-card">
            <app-player [songId]="currentSongId()" [songs]="current_songs"></app-player>
        </div>

        <!-- <div class="controls">
            <input
            type="file"
            accept="audio/*"
            aria-label="Upload audio file"
            class="file-input"
            (change)="onFileSelected($event)"
            #fileInput>
    
                <div class="file-upload">
                    <button class="upload-btn" (click)="fileInput.click()"> Click Me to Upload</button>
                </div>
        </div> -->

        <div class="playlist-info-card"><app-playlist-info  [playlistId]="currentPlaylistId" (currentSongId)="onSongChange($event)" ></app-playlist-info></div>
        
        
    </section>
    
</div>

